@model IEnumerable<BugTracker.Models.Issue>

@{
    ViewData["Title"] = "Active";
}

<h1>Active</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueCreatedOn)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueCreatedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
