@model BugTracker.Models.DashBoardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>
Open Issues: @Html.DisplayFor(model => model.OpenIssues) <br />
Closed Issues: @Html.DisplayFor(model => model.ClosedIssues) <br />
Abandonded Issues: @Html.DisplayFor(model => model.AbandonedIssues) <br />
Total Issues:  @Html.DisplayFor(model => model.TotalIssues) <br />
Low Priorities:  @Html.DisplayFor(model => model.LowPriority) <br />
Medium Priorities:  @Html.DisplayFor(model => model.MediumPriority) <br />
High Priorities:  @Html.DisplayFor(model => model.HighPriority) <br />
Urgent Priorities:  @Html.DisplayFor(model => model.UrgentPriority) <br />
Emergency Priorities:  @Html.DisplayFor(model => model.EmergencyPriority) <br />
Not Started: @Html.DisplayFor(model => model.NotStarted)<br />
In Progress: @Html.DisplayFor(model => model.OpenIssues) <br />
Abandonded: @Html.DisplayFor(model => model.AbandonedIssues) <br />
Closed: @Html.DisplayFor(model => model.ClosedIssues) <br />
</h1>