@model BugTracker.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueClosedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueClosedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueResolutionSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueResolutionSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueClosedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueClosedByNavigation.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueCreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueCreatedByNavigation.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuePriorityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuePriorityNavigation.IssuePriorityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueTypeNavigation.IssueStatusType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
